

<style type="text/css">
	th {
		text-align: right;
		padding-right: 8px;
	}
	tr {
		height: 30px;
	}
</style>

<h1>Code Practice</h1>
<p>Welcome to Coding Practice.</p>
This app will run a series of coding tests that have been solved.<br>
<br>
<%= flash[:result].nil? ? " " : flash[:result] %><br>
<br>
<%= form_tag(driver_index_path, :method => :post, :multipart => true,  :id=>'info-form') do %>
<table>
	<tr><td colspan="3" style="text-align: right;"><input type="submit" value="Submit" class="submit"></td></tr>
	<tr>
		<th>String to Reverse</th>
		<td><%= text_field_tag "reverse", "", :placeholder=>"string to reverse", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>FizzBuzz</th>
		<td><%= text_field_tag "fizz", "", :placeholder=>"how many digits?", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>Sum Two In Array</th>
		<td><%= text_field_tag "sum", "", :placeholder=>"[1, 2, 7, 10, 4]; 6", class: "form-control", :required => false %></td>
	</tr>
</table>
<%- end -%>