

<style type="text/css">
	th {
		text-align: right;
		padding-right: 8px;
	}
	tr {
		height: 30px;
	}
</style>

<h1>Code Practice</h1>
<p>Welcome to Coding Practice.</p>
This app will run a series of coding tests that have been solved.<br>
<br>
<%= flash[:result].nil? ? " " : flash[:result] %><br>
<br>
<%= form_tag(driver_index_path, :method => :post, :multipart => true,  :id=>'info-form') do %>
<table>
	<tr><td colspan="3" style="text-align: right;"><input type="submit" value="Submit" class="submit"></td></tr>
	<tr>
		<th>String to Reverse</th>
		<td><%= text_field_tag "reverse", "", :placeholder=>"string", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>Array to Reverse</th>
		<td><%= text_field_tag "reverse_arr", "", :placeholder=>"comma-separated string", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>FizzBuzz</th>
		<td><%= text_field_tag "fizz", "", :placeholder=>"how many digits?", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>Sum Two In Array that<br>Match Target Integer</th>
		<td><%= text_field_tag "sum", "", :placeholder=>"comma-separated integers; integer", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>Fill an array of size X with random<br>integers with a max value of Y</th>
		<td><%= text_field_tag "rand_arr", "", :placeholder=>"size integer, max_val integer", class: "form-control", :required => false %></td>
	</tr>
	<tr>
		<th>Return Array of Duplicates</th>
		<td><%= text_field_tag "return_dupes", "", :placeholder=>"comma-separated string", class: "form-control", :required => false %></td>
	</tr>
</table>
<%- end -%>
<br>
<br>
TODO:
<ul>
	<li>Return a binary</li>
	<li>Implement Singly LinkedList</li>
	<li>Implement Doubly LinkedList</li>
	<li>Reverse Linked List</li>
	<li>Delete traget value from LinkedList</li>
	<li>Find duplicates in array</li>
	<li>Find and insert missing numbers to a LinkedList</li>
	<li>Implement Mergesort</li>
	<li>Implement Quicksort</li>
	<li>Implement Bubblesort</li>
	<li>Implement a binary tree</li>
	<li></li>
	<li></li>
	<li></li>
</ul>